html,body{
  font-family: "Rubik","Roboto", sans-serif;
}

.global-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
}
.login-form{
  border-radius: 20px;
  background-color: aliceblue;
  font-size: 18px;
  width: 350px;
}
.registrarse {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.form-group{
  margin-bottom: 5px;
}

.formulario{
  margin-top: 20px;
}

.barra{
  background-color: darkslategray;
  color: aliceblue;
  box-shadow: black 0px 1px 6px;
}

.sidebar{
  background-color: darkslategray;
  color: aliceblue;
  padding-top: 10px;
}

.main {
  background-color: aliceblue;
  padding-top: 10px;
}

.categoria{
  background-color: aliceblue;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.producto{
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}